html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

body {
	color: #1B1818;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	/* font-family: 'Fira Sans',sans-serif; */
}

.header {
	background-color: #332208;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.menu__list {
	display: flex;

}

.menu__item {
	margin: 0 15px;
}

.menu__list-link {
	text-transform: uppercase;
	color: #fefefe;
	top: 18px;
	line-height: 21px;
	padding-bottom: 5px;
	transition: all .2s;
	border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
	border-bottom: 1px solid #fefefe;
}

.phone {
	color: #fefefe;
	top: 18px;
	line-height: 21px;
}


/* 2 */
.top__heading {
	display: flex;
	padding: 50px 0 30px;
}

.top__content {
	text-align: center;
	padding-top: 90px;
	width: 50%;
}

.top__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	margin: 0 auto 20px;
	max-width: 455px;
}

.top__text {
	font-size: 24px;
	line-height: 28px;
	margin: 0 auto 60px;
	max-width: 470px;
}

.application-btn {
	text-transform: uppercase;
	color: #fefefe;
	background-color: #C5AC2D;
	padding: 16px 19px;
	border: 1px solid transparent;
	transition: all .2s;
	display: inline-block;
}

.application-btn:hover {
	color: #C5AC2D;
	background-color: #fefefe;
	border: 1px solid #C5AC2D;
}

.top__slider {
	width: 50%;
}

.top__slider .slick-dots {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.slick-dots {
	list-style: none;
	text-align: center;
}

.slick-dots button {
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: #332208;
	border: none;
	border-radius: 50%;
	padding: 0;
}

.slick-active button {
	width: 16px;
	height: 16px;
}

.top__slider-text {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	text-align: right;
	padding-right: 100px;
}

.top__slider-text span+span {
	padding-left: 12px;
}

.top__bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.top__items {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.top {
	padding-bottom: 100px;
}

.top__item {
	border: 1px solid #1B1818;
	padding: 10px;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: all .3s;
}

.top__item:hover {
	transform: scale(1.25);
}

.top__links {
	padding-right: 80px;
}

.top__link {
	color: #1B1818;
	border-bottom: 1px solid #1b1b1b;
}

.top__links .top__link {
	margin-left: 20px;
}

.top__links:first-child {
	margin-left: 0;
}

.top__slider-iamges img {
	height: 450px;
	width: 600px;
}




/* THIRD 
===========================*/


.review {
	padding-top: 100px 0;
}

.review__inner {
	display: flex;
	justify-content: space-between;
}

.review__content {
	width: 300px;
}

.review__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 30px;
}

.review__text {
	margin-bottom: 20px;
}

.review__text+.review__text {
	margin-bottom: 40px;
}

.review__item {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #332208;
	width: 250px;
	padding: 0 35px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 350px;
}

.review__item-num {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 96px;
	line-height: 115px;
	opacity: .1;
}

.review__item-title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: auto;
}


/* ssssssssssssssss */
.benefits {
	padding: 100px 0;
}

.benefits__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 50px;
	text-align: center;
}

.benefits__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.benefits__list {
	width: 300px;
	list-style: none;
}



.benefits__list-item {
	margin-bottom: 27px;
	padding-right: 26px;
	position: relative;
	text-align: right;
}

.benefits__list-item::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #332208;
	right: 0;
	top: 3px;
}


.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7) {
	margin-right: 10px;
}

.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
	margin-right: 60px;
}

.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
	margin-right: 110px;
}

.benefits__list-item:nth-child(4) {
	margin-right: 160px;
}

.benefits__content {
	width: 300px;
	text-align: right;
}

.benefits__text {
	margin-bottom: 30px;
	text-align: right;
}

.benefits__text+.benefits__text {
	margin-bottom: 30px;
	width: 267px;
	margin-left: auto;
}

.video-popup {
	background-color: #C5AC2D;
	text-transform: uppercase;
	color: #fefefe;
	padding: 6px 34px 6px 64px;
	text-align: center;
	display: inline-block;
	position: relative;

}

.video-popup::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url(../images/PLAY.svg);
	top: 12px;
	left: 34px;
}



/* REVIEWS 
============================*/

.reviews {
	padding: 100px 0;
	background-color: #332208;
	color: #fefefe;
}

.reviews__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin-bottom: 70px;
}

.reviews__slider {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.reviews__item {
	width: 270px;
	min-height: 300px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #C5AC2D;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 30px;
	text-align: center;
	margin-right: 30px;
}

.reviews__item-name {
	font-family: Fira Sans;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.reviews__slider .slick-dots button {
	background-color: #C5AC2D;
}

.reviews__slider .slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 35px;
}

.slick-initialized .reviews__item {
	display: flex;
}

.reviews__slider button {
	margin: 0 5px;
	line-height: 12px;
}




/* FEEDBACK */


.feedback {
	padding: 100px 0;
}

.feedback__inner {
	display: flex;
	align-items: center;
}

.feedback__images {
	width: 50%;
}

.feedback__form {
	width: 415px;
	margin: 0 auto;
}

.feedback__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 5px;
}

.feedback__text {
	margin-bottom: 30px;
}

.feedback__input {
	display: block;
	padding: 20px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.feedback__input::placeholder {
	font-size: 16px;
	line-height: 19px;
	color: #1B1818;
	font-family: 'Roboto Condensed', sans-serif;
}

.feedback__btn {
	text-transform: uppercase;
	color: #fefefe;
	border: none;
	display: inline-block;
	padding: 16px 36px;
	background-color: #C5AC2D;
	margin-top: 50px;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 19px;
}

/* FOOTER */

.footer {
	padding: 100px 0;
	background-color: #332208;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	list-style: none;
}

.footer__social {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__social-item {
	margin: 0 15px;
}

/* АДАПТИВ */

.menu__btn {
	display: none;
}

@media (max-width: 1250px) {
	.benefits__images {
		width: 40%;
	}
}

@media (max-width: 1140px) {
	.review__inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.review__content {
		width: 100%;
		margin-bottom: 30px;
	}
}

@media (max-width: 1000px) {
	.top__heading {
		display: block;
	}

	.top__content {
		width: 100%;
		padding-top: 30px;
	}

	.top__slider {
		width: 100%;
	}

	.top__bottom {
		display: block;
	}

	.top__links {
		padding-right: 0;
		padding-top: 50px;
		text-align: center;
	}

	.top__items {
		width: 100%;
	}

	.benefits__content {
		width: 100%;
		margin-top: 30px;

	}

	.benefits__items {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.benefits__text+.benefits__text {
		width: 100%;
	}

	.footer .menu {
		display: none;
	}
}


@media (max-width: 860px) {

	.footer,
	.feedback,
	.benefits,
	.reviews,
	.review {
		padding: 50px 0;
	}

	.menu {
		order: 1;
	}

	.menu__list {
		display: block;
		position: absolute;
		top: 100px;
		left: 0;
		background-color: #332208;
		right: 0;
		padding: 20px 0;
		transform: translateY(-500px);
		transition: all .2s linear;
	}

	.menu__list.menu__list_active {
		transform: translateY(0);
	}

	.menu__list-link {
		padding: 20px 0;
		display: block;
		text-align: center;
	}

	.menu__btn {
		display: block;
		width: 30px;
		height: 20px;
		border: none;
		cursor: pointer;
		border-top: 2px solid #fefefe;
		border-bottom: 2px solid #fefefe;
		background-color: transparent;
		position: relative;
	}

	.menu__btn::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: #fefefe;
		left: 0;
		top: 7px;
	}

	.review__item {
		margin: 30px;
	}

	.feedback__images {
		display: none;
	}

}

@media (max-width: 820px) {

	.footer__social {
		margin-top: 30px;
	}
}


@media (max-width: 650px) {
	.review__item {
		width: 100%;
		min-height: 245px;
	}

	.review__content {
		text-align: center;
	}
}

@media (max-width: 525px) {
	.top__items {
		flex-wrap: wrap;
	}

	.top__item {
		margin: 20px;
	}

	.top__slider-text {
		padding-right: 0;
	}

	.benefits__image {
		width: 70%;
	}

	.benefits__list-item {
		margin-right: 0;
		text-align-last: left;
		padding-right: 0;
		padding-left: 26px;
	}

	.benefits__list-item::after {
		right: auto;
		left: 0;
	}

	.benefits__list {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.footer__top {
		flex-direction: column;
		align-items: center;
	}

	.footer .phone {
		margin-top: 30px;
		display: inline-block;
	}
}

@media (max-width: 410px) {
	.top__items {
		width: 100%;
		min-height: 120px;
	}

	.top__links {
		text-align: center;
	}

	.top__link {
		margin: 10px 15px;
		display: inline-block;
	}

	.top__link+.top__link {
		margin-left: 0;
	}

	.top__slider-text {
		text-align: right;
	}

	.top__slider-text span {
		display: block;
		margin: 10px 0;
	}

	.review__item {
		margin: 30px 0;
	}
}